
body {
    background-color: rgb(61, 61, 61);
    z-index: 0;
    margin: 0;
    padding: 0;
    /* height:fit-content; */
}


nav {
    display: flex;
    justify-content: center;
    background-color: rgb(63, 61, 61);
    width: 100%;
    height: 100px;
    position: sticky;
    font-family: 'Bowlby One SC';
    font-size: 20px;
    margin-bottom: -40px;
    margin-top: -150px;
    z-index: -20;

}

ol {
    flex-direction: row;
    align-items: center;
    padding-right: 5em;
   
   
}

li {
    display:inline;
    flex-direction: row;
    padding: 3em;
    text-decoration: none;
    text-align: center;
    color: black;
      
}

/* li:hover {
    color: red;
    cursor: crosshair;
    transform: scale(1.10, 1.10);
    border-radius: 20%;
    box-shadow: 0 0 10px black;
  } */

/* #assessmentSection {
    display: flex;
    width: 720px;
    height: 1024px;
    align-items: center;
} */

#assessment {
    overflow-y: scroll;
    border-style: solid;
    height: 12em;
    width: 10em;
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -2.5em;
    color:gold;
    border-color: black;


}

#submit {
    
    background-color: #FFD700;
    border-radius: 10%;
    font-family:Arial, Helvetica, sans-serif
}

#header {
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: -5;
}



#title-one {
    position: absolute;
    padding-top: 40px;
    text-align: center;
    padding-left: 424px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif  ;
    


}

h2 {
    font-size: 9em;
    color: #FFD700;
    opacity: .08;
    padding: 0px;
    border: 0px;
    z-index: -5;
    position: absolute;
   

    
}

.navBtn {
display:inline-block;
padding:0.7em 1.7em;
margin:0 0.3em 0.3em 0;
border-radius:0.2em;
box-sizing: border-box;
text-decoration:none;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
font-weight:400;
color:#464e47;
background-color:gold;
box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
text-align:center;
position:relative;
}

#formTitle {
    text-align: center;
    justify-self: center;
    color: #FFD700;
    
}

video {
    z-index: -10;
    align-self: center;
    position: absolute;
    width: auto;
    height: 500px;
    margin: auto;
    padding-left: 403.85px;
    padding-right: 403.85px;
    padding-top: 150px;
    
    

    
}

#logo {
    display: absolute;
    height: 150px;
    width: 150px;
    border-style:ridge;
    border-color: grey;
    

}

/* 
#page-container {
    position: relative;
    height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;   
  }
  
  #footer {
    margin-top: 93vh;
    bottom: 0;
    width: 200px;
    height: 130px;            
    background-color:whitesmoke;
    padding-left: 400px;
    float:center;
  }  */

